$white: #ffffff;
$gray: #666;
$light-gray: #999;
$transparent-gray: #99999999;
$text: #000;

$transparent: rgba(0,0,0,0);

$highlight-1: #00F260;
$highlight-2: #0575E6;

$highlight-gradient: linear-gradient(90deg, $highlight-1, $highlight-2);

$contentWidth: 1200px;
$SecondaryContentWidth: 1000px;

$spacerHeight: 100px;

$border-radius: 4px;

$transition-time: 100ms;
