@import 'base.scss';

/* Index Page */

.index-top-display {
  background: linear-gradient(0deg, $gray 0%, $gray 35%, $white 35%);
  padding-bottom: 50px;
}

.index-title-container {
  height: 270px;
  display: flex;
  flex-direction: column;
}

.display-box-container {
  margin: 0 10px;
}

.display-box {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background: $white;
  padding: 0;
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
}

.display-box.top {
  border-top: 1px solid $gray;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.display-box.bottom {
  border-bottom: 1px solid $gray;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.box {
  width: 33.3%;
}

.box-icon {
  width: 100px;
  margin: 20px auto;
}

.box-icon > svg {
  fill: $text;
}

.box-divider {
  border: 0.5px solid $gray;
}

.box > ul {
  padding: 0;
}

.box > ul > li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-spacer {
  width: 10px;
  height: 0;
  border: 1px solid $gray;
  margin: auto 4px auto 8px;
}

.top-display-text {
  margin: 60px auto;
  color: $white;
}

/* Resume Page */

.resume {
  text-align: left;
  padding: 0 30px;
  cursor: default;
}

.resume-print-title {
  margin: 0;
  display: none;
}

@media print {
  .resume-print-title {
    display: unset;
  }
}

.resume-summary {
  justify-content: space-between;
}

.resume-vertical-divider {
  border: 0.5px solid $gray;
}

.resume-horizontal-divider {
  border: 0.5px solid $gray;
  margin: 0 10px;
}

.resume-left-column {
  width: 66.6%;
}

.resume-right-column {
  width: 33.2%;
}

.resume-left-column > h2, .resume-left-column > h3 {
  text-align: left;
}

.resume-right-column > h4 {
  margin-block-end: 0.2em;
}

.resume-right-column > a:hover {
  text-decoration: underline;
}

/* Display Tile */

.tile-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  min-width: 500px;
}

.tile-filler {
  flex-grow: 1;
}

.tile-wrapper {
  width: 480px;
  margin: 10px 10px;
}

.display-tile {
  height: 300px;
  width: 100%;
  border-radius: $border-radius;
  border: 2px solid $gray;
  justify-content: flex-end;
}

.display-tile:hover > .display-tile-inner {
  background: $gray;
  opacity: 1;
}

.display-tile-inner {
  border-radius: $border-radius - 2px;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $white;
}

.display-tile-inner > p {
  margin: 1em;
}

.display-tile-inner > a {
  margin: 1em auto;
}

.display-tile-button {
  padding: 5px 15px;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  background: transparent;
  border: 1px solid $white;
  cursor: pointer;
  color: $white;
  font-size: 1em;
  transition: 0.4s;
}

.display-tile-button:hover {
  border: 1px solid $gray;
  color: $gray;
  background: $white;
}

.display-tile-button:active {
  color: $gray;
}

/* Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $highlight-gradient;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Small Tile */
.small-tile {
  background: $gray;
  color: $white;
  margin: 4px;
  padding: 4px 12px;
  border-radius: $border-radius;
}

.display-tile-text {
  margin-top: 15px;
}

/* Resume Pdf Button */

.pdf-button {
  width: 0;
}

.pdf-icon {
  width: 15px;
  margin-top: 1em;
  opacity: 0.4;
  transition: 0.2s;
  cursor: pointer;
}

.resume:hover > div > div > a > .pdf-icon {
  opacity: 1;
  margin-top: 0.95em;
}
